body {
  height: 100%;
  width: 100%;
  background-color: #5c2d10;
  font-family: 'Lora', serif;
}

#topbar{
  background-color: #1a611a;
  height:30px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
  border: none;
}
  #button{
    background-color: #008000;
    position:absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    padding: 3px;
    width: 40px;
    height: 20px;
    border: 1px solid #4DA429;
  }  
  #back{
    background-color: #1a611a;
    position:fixed;
    top: 0px;
    left: 55px;
    padding-bottom: -10px;
    height: 30px;
    border:none;
  }
  nav{
    width:10%;
    position:fixed;
    background-color: #FFFFFF;
    top:30px;
    left:0;
    right:0;
    z-index:1;
    overflow: hidden;
  }
  a{
    padding: 5px 0 5px 0;
    color: #00b300;
  }
  nav a{
    font-size: x-small;
    
  }
#body{
  width: 80%;
  margin-left: 10%;
  position:absolute;
}
  #title{
    text-align: center;
    border: 1px black solid;
    margin-top: 35px;
    padding: 1px 0 1px 0;
  }
  H1, H2, H3, H4, H5, H6{
    color: #1a611a;
    text-shadow: 
    -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121; 
    padding: 10px 0 5px 0;
  }
  H1{
    font-size: 3rem;
  }
  H2{
    font-size: 2rem;
  }
  H3{
    font-size: 1.75rem;
  }
  H4{
    font-size: 1.5rem;
  }
  H5{
    font-size: 1.25rem;
  }
  H6{
    font-size: 1rem;
  }
  p, a{
    font-size: .9rem;
  }
  a:visited{
    color: #0a240a; 
  }