body {
  height: 100%;
  width: 100%;
  background-color: #5c2d10;
  font-family: 'Lora', serif;
}

#topbar{
  background-color: #1a611a;
  height:30px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
  border: none;
}
  #button{
    background-color: #008000;
    position:absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    padding: 3px;
    width: 40px;
    height: 20px;
    border: 1px solid #4DA429;
  }  
  #back{
    background-color: #1a611a;
    position:fixed;
    top: -3px;
    left: 55px;
    padding-bottom: 0px;
    height: 30px;
    border:none;
  }
  nav{
    width:10%;
    position:fixed;
    background-color: #FFFFFF;
    top:30px;
    left:0;
    right:0;
    z-index:1;
    overflow: clip;
  }
  nav a{
    padding: 5px;
    color: #00b300;
  }

#body{
  width: 80%;
  margin-left: 10%;
  position:absolute;
}
  #title{
    text-align: center;
    border: 1px black solid;
    margin-top: 30px;
  }
  H1, H2, H3, H4, H5, H6{
    color: #1a611a;
    text-shadow: -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121; 
  }
  H1{
    font-size: 3rem;
  }
  H2{
    font-size: 2rem;
  }
  H3{
    font-size: 1.75rem;
  }
  H4{
    font-size: 1.5rem;
  }
  H5{
    font-size: 1.25rem;
  }
  H6{
    font-size: 1rem;
  }
  p, li{
    font-size: .9rem;
  }
  a:visited{
    color: #0a240a;
    text-shadow:
    -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121;  
  }
  #thanks{
    font-size: 12px;
    color: #008000;
    text-align: center;
    margin-top: 30px;
  }
  .bold{
    font-weight: bold;
    line-height: 1.5em;
    color: #1a611a;
    text-shadow: -1px -1px 0 #212121,
    1px -1px 0 #212121,
    -1px 1px 0 #212121,
    1px 1px 0 #212121; 
  }
 .italic{
   font-style: italic;
   line-height: 1.5em;
 }
  .image{
    border: 1px solid #4DA429;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
  }
  .ore{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    border:0.5px solid #613215;
  }